@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap');

:root {
  --fonte-destaque: 'Vollkorn', serif;
}

* {
  margin: 4px;
  padding: 4px;
}

body {
  background: rgb(224, 109, 176);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
  min-height: 100px;
  padding-top: 20px;
}

header > h1 {
  margin-bottom: 20px;
  font-family: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main p {
  font-family: var(--fonte-destaque);
  margin: 10px 0px;
  text-align: auto;
  text-indent: 20px;
  font-size: 1em;
  line-height: 1em;
}

div > p {
  font-family: var(--fonte-destaque);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
